.App {
  display: flex;
  background-color:#C3CBE3;
  
  flex-wrap: wrap;
  justify-content: center;
}
.sub{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.heading{
  text-decoration: underline;
}
